/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	font-family: 'Lora', serif;
}

ul {
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

span {
 font-family: 'Playball', cursive;
 font-size: 3em;
 color: #05092E;
}



/* ================================= 
  Base Layout Styles
==================================== */

.banner-img {
	width: 100%;
	height: 40%;
}

.banner {
	position: relative;
}

.adjectives {
	position: absolute;
	top: 3.5em;
	left: 0;
	text-align: center;
	width: 40%;
}
	
.adjectives li {
	text-transform: uppercase;
	font-family: 'Audiowide', cursive;
	font-size: 1.4em;
	color: black;
		
}

.banner-title {
	position: absolute;
	bottom: 188px;
	right: 0;
	width: 40%;
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-size: 1.6em;
	letter-spacing: .1em;
	color: #002fb9;
}

.quote {
	font-family: 'Great Vibes', cursive;
	font-size: 1.6em;
	padding: 1em;
	text-align: center;
}

.laptop {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.service-list {
    font-family: 'Audiowide', cursive;
}

#service  p {
	padding-top: 1em;
	font-family: 'Libre Baskerville', serif;
	border-top: 2px solid rgba(128,128,128,.1);
	margin-top: 0;
}

#about p {
	padding-top: 1em;
	font-family: 'Libre Baskerville', serif;
	margin-top: 0;
}

.wojtek,
.gergo,
iframe {
	width: 90%;
}

iframe {
	padding-bottom: .5em;
}

.main-footer {
	text-align: center;
	background-color: black;
	color: white;
	padding-top: .1em;
	padding-bottom: .1em;
}

/* ---- Navigation ---- */

.logo {
	width: 150px;
	height: 80px;
	margin: 0;
}

.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.5em;
}

.main-nav a:hover {
	color: #002fb9;
}



/* ---- Layout Containers ---- */
 
 .container {
	 width: 90%;
	 padding-left: 1em;
	 padding-right: 1em;
	 margin: 0 auto;
	 text-align: center;
 }
 
 .main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

 
 
 /* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	
	 body, 
    #service,
    #about,
    #contact {
		padding-top: 96px;
	}
   
	
	.main-nav {
	  float: right;
	}

	.main-nav li {
	  display: inline-block;
	  margin-left: 15px;
	}
	
	.main-nav  li:nth-child(1n+2) {
		border-left: 2px solid;
	}
	
	
	.main-header {
      position: fixed;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0,0,0,.4);
      width: 100%;
      top: 0;
      z-index: 1000;
    }
	
	.logo {
		float: left;
	}
	
	.service-list {
		width: 40%;
		padding-bottom: 1em;
		margin-left: 4em;
		border-left: 2px solid rgba(128,128,128,.1);
	}
	
	.service-list li {
		margin-top: .5em;
		line-height: 2em;
		font-family: 'Audiowide', cursive;
		font-size: 1.1em;
	}
	
	.service-list,
	.laptop {
		float: left;
		padding-top: 2em;
		vertical-align: text-top;
		width: 40%;
	}
	
	#service  p {
		clear: both;
		padding-top: 3em;
		font-family: 'Libre Baskerville', serif;
		border-top: 2px solid rgba(128,128,128,.1);
		margin-top: 0;
	}
	
	#about {
		position: relative;
	}
	
	.wojtek,
	.gergo {
		width: 30%;
		padding: 1em;
		position: absolute;
		border-radius: 52px;
		
		/*float: left; */
	}
	
	.wojtek {
		top: 25%;
		left: 0;
	}
	
	.gergo {
		top: 65%;
		left: 20%;
	}
	
	.woj,
	.ger {
		display: none;
	}
	
	.backline {
		height: 70px;
		background-color: rgba(0,0,0,.2);
	}
	
	#company {
		float: right;
		width: 30%;
		padding: 1em;
	}
	

  
  
	
/* ---- Float clearfix ---- */

	.clearfix::after {
	  content: " ";
	  display: table;
	  clear: both;
	}
}

@media (min-width: 1025px) {
	
	
	.banner-img {
		width: 100%;
		height: 100%;
	}
	
	.banner-background {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.8);
		height: 100%;
		width: 50%;
		padding-bottom: 1em;
	}
	
	.quote {
		font-family: 'Great Vibes', cursive;
		font-size: 1.7em;
		color: white;
		padding: 1em;
		letter-spacing: .2em;
		line-height: 1.1em;
		text-align: center;
		
	}
	
	.adjectives {
		position: static;
		border-bottom: 2px solid rgba(128,128,128,.1);
		text-align: center;
		width: 95%;
		margin: 0 auto;
		padding-top: 4em;
		padding-bottom: 40px;
	}
	
	.adjectives li {
		display: inline-block;
		text-transform: uppercase;
		font-family: 'Audiowide', cursive;
		font-size: 1.4em;
		color: white;
		
	}
	
	.adjectives  li:nth-child(1n+2) {
		margin-left: 20px;
	}
	
	
	.banner-title {
		position: static;
		margin: 0 auto;
		width: 95%;
		text-align: center;
		font-family: 'Audiowide', cursive;
		font-size: 3em;
		letter-spacing: .1em;
		color: #002fb9;
		border-bottom: 2px solid rgba(128,128,128,.1);
		padding-top: 70px;
		padding-bottom: 40px;
	}
	

	
 
}





